<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Benchmark Client</title>
  
</head>
<body>
<div style="padding-top: 6em;">
<div class="container">
  <h2>Client Details</h2>
  <form role="form" >
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" ng-model="name" class="form-control" placeholder="Enter name here">
    </div>
    <div class="form-group">
      <label for="email">Description</label>
      <textarea class="form-control"ng-model="description" placeholder="Enter description here"></textarea>
    </div>
   
  </form>
  <h2>Delivery Channel for {{name}}</h2>
  
  <form role="form" >
    <div class="form-group">
      <label for="email">Name</label>
      <input type="text" ng-model="name" class="form-control" placeholder="Enter name here">
    </div>
    <div class="form-group">
      <label for="email">Description</label>
      <textarea class="form-control"ng-model="description" placeholder="Enter description here"></textarea>
    </div>
   
  </form>
   <button type="submit" class="btn btn-default">Add</button>
</div>

</body>
</html>